@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    font-family: "Space Grotesk", serif;
    @apply bg-light_bg text-foreground dark:bg-dark_bg dark:text-background;
  }
}

.tab-shadow {
  box-shadow: 0px 1px 2px 0px #1018280f;

  box-shadow: 0px 1px 3px 0px #1018281a;
}
